.promo {
  margin: 0 0 0px;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  padding: 55px 150px 75px;
  justify-content: space-between;
  background-color: #073042;
}

.promo__picture {

  margin: 0;
  width: 310px;
  height: 304px;
  background-image: url('../../../images/text__COLOR_landing-logo.svg');
  background-position: right;
}

.promo__text {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  justify-content: space-between;
}

.promo__title {
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
}

.promo__subtitle {
  margin: 0;
  padding: 37px 0 145px;
  color: #FFF;
  opacity: .5;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__link {
  text-align: center;
  width: 89px;
  color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
text-decoration: none;
border-radius: 3px;
border: 1px solid #FFF;
opacity: 0.6;
padding: 10px 20px;
}
